<h1 class="mat-h1">{{ eventIdeaConfig ? 'Edit Event Idea' : 'Create Event Idea'}}</h1>
<div class="event-form-container">
  <form class="event-form" [formGroup]="eventIdeaForm" (ngSubmit)="submitEventIdea()">
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Event Idea Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Idea Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Idea Image URL</mat-label>
      <input matInput  formControlName="imgUrl"/>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit"[disabled]="!eventIdeaForm.valid" class="mat-form-field">Submit</button>
  </form>
  <div class="event-image-container">
    <img *ngIf="!eventIdeaConfig?.imgUrl" [src]="imageCreationSrc" alt="image">
    <img *ngIf="eventIdeaConfig?.imgUrl" [src]="eventIdeaConfig?.imgUrl" alt="image">
  </div>
</div>