.mat-h1 {
  font-weight: bold;
}
.event-form-container {
  display: flex;
  gap: 36px;

  .event-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25%;
  }
  .event-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
      margin: auto;
      max-height: 75vh;
      min-width: 0;
    }
  }
  .mat-form-field{
    .mat-mdc-form-field-textarea-control{
      min-height: 100px;
    }
  }
}
