<div class="create-event-idea-form-container">
  <form class="create-event-idea-form">
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Idea Title</mat-label>
      <input matInput value="Untitled Event" />
    </mat-form-field>
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Idea Description</mat-label>
      <input matInput value="Description" />
    </mat-form-field>
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Image</mat-label>
      <input matInput value="ImageURL" />
    </mat-form-field>
    SUBMIT BUTTON HERE
  </form>
</div>

