<div class="create-event-idea-form-container">
  <form class="create-event-idea-form">
    <mat-form-field appearance="fill" class="mat-form-field" >
      <mat-label>Event Idea Title</mat-label>
      <input matInput value="Untitled Event" />
    </mat-form-field>
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Idea Description</mat-label>
      <textarea t matInput value="Description"></textarea>
    </mat-form-field>
    <mat-form-field class="mat-form-field" >
      <mat-label>Event Image</mat-label>
      <input matInput value="ImageURL" />
    </mat-form-field>
    <button mat-flat-button color="primary" class="mat-form-field">Submit</button>
  </form>
  <img [src]="imageCreationSrc" alt="image">
</div>

