<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="nav-menu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    <a mat-button href="#" routerLink = "/">
        <span class="title">Jax's Event Planning App</span>
    </a>
    <a mat-button href="#" routerLink = "/create-event-idea">
        <mat-icon>add</mat-icon>
        Create
    </a>
    <span class="spacer"></span>
    <span>Login</span>
</mat-toolbar>