
  <mat-card class="event-card-container">
    <mat-card-header>
      <mat-card-title>
        {{eventIdea.name}}
      </mat-card-title>
    </mat-card-header>
    <div class="event-image-container">
        <img mat-card-image [src]="eventIdea.imgUrl ? eventIdea.imgUrl : imageCreationSrc">
    </div>
    <mat-card-content>
      {{eventIdea.description}}
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]= "'/edit-event-idea/'+ eventIdea.id"> EDIT</a>
      <button mat-button (click)="onDeleteClicked(eventIdea.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>


  